# Documentation 1

1. Finding documentation.

Documentation is found at docs.python.org and also by using the `help()` command.

2. Determine whether Python has a method to lowercase a string, for example converting 'Aloha, World!' into 'aloha, world!.

`str.lower()`

3. Use the Python documentation for the str class to determine which method can be used to right justify a str object.

`str.rjust(width, [fillchar])`

4. Is there a method to reverse a string, for example turning 'hello' into 'olleh'?

`str[::-1]`

5. How can we access the second element ('and') in the list ['fish', 'and', 'chips']?

`['fish', 'and', 'chips'][1]`

6. fruits = ["apple", "banana", "cherry", "peach", "watermelon"]

How would you determine the index of the fruit "cherry" in this list?

`fruits.index("cherry")`

7. What happens if we take the list ['fish', 'and', 'chips'] and try to access the element at index position 10? First try to determine what will happen by consulting the documentation, then verify your understanding in the Python REPL.

IndexError

8. Using the Python documentation, determine how you can write large numbers in a way that makes them easier to read.

`1_234_567`

9. Referring to the official Python documentation, how would you identify the data type of the following values?

`type()`

# Documentation 2

1.
```python
name = "Victor"
profession = "programmer"
```

How can you print the string Hello, Victor. You are a programmer. using the str.format method? You should fill in the name and profession in a string literal that contains the rest of the text.

`'Hello, {}. You are a {}.'.format(name, profession)`

How can you achieve the same result using an f-string?

`f'Hello, {name}. You are a {profession}.'`

2. In the following code snippet, find all violations of the PEP8 style guide. Rewrite it so that it conforms with the guide.

```python
iceCreamDensity=10

while iceCreamDensity>0 :
    print('Drip...')
    iceCreamDensity-=1

print('The ice cream melted.')
```

```python
ice_cream_density = 10

while ice_cream_density > 0:
    print('Drip...')
    ice_cream_density -= 1

print('The ice cream melted.')


3. Find the Python Documentation on operator precedence, and use it to determine the result of evaluating 4 * 5 + 3**2 / 10.

20.9 => exp -> mul/div -> add/sub

4. Using the datetime module in Python, how would you obtain the current date and time?

In [2]:
from datetime import datetime

print(datetime.now())

2024-04-02 10:55:22.606552

5. The Python documentation for the datetime module provides two attributes to retrieve the year from a date or datetime object: year and isocalendar. What is the difference between the year attribute and the isocalendar method?

In [4]:
from datetime import date

today = date.today()

today_year = today.year
iso_year = today.isocalendar()[0]

print(today_year)
print(iso_year)

2024
2024

The ISO calendar is a variant of the Gregorian calendar. The first week of an ISO year is the first Gregorian week that contains a Thursday. The first 'day' of the ISO year is the Monday of the first week that contains a Thursday. That might be different from the Gregorian calendar year for that Monday. 

6. How many arguments does the str.join method expect? What happens if you call it with fewer or more arguments?

It takes one argument, an iterable of strings (can ONLY contain strings); more or fewer args => TypeError

7. Using the official Python documentation, can you determine how to check whether a string contains a specific substring?

`substring in string`

8. The following code raises a SyntaxError What does a SyntaxError indicate? Try running the above code, then use the resulting error message to fix the error.

A syntax error indicates improper code formatting or malformed statement; here, it indicates that the colon `:` is missing from the if statement.

In [7]:
speed_limit = 60
current_speed = 80

if current_speed > speed_limit: # : originally missing
    print('"People are so bad at driving cars that '
          "computers don\'t have to be that good to be "
          'much better." -- Marc Andreessen')

"People are so bad at driving cars that computers don't have to be that good to be much better." -- Marc Andreessen

9.What does a TypeError indicate? Try running the below code, then use the resulting error message to determine exactly what is wrong. (You don't have to fix this code.)

The error here is that we are using the `+` operator with a `str` and `int`.  A TypeError indicates that an operation or function is being applied to an object of inappropriate type--here, `+` is not defined to concatenate `str` with `int`. If the `str` is first, it is reported as a concatenation error.

In [8]:
tweet = 'Woohoo! :-)'

if len(tweet) > 140:
    print('Tweet is too long!')

length_of_tweet = len(tweet + 5)

TypeError: can only concatenate str (not "int") to str

# Loops

1. Add some code inside the following for loop to print the current value of num on each iteration. Before you execute the code: What sequence of numbers do you expect to be printed?

expectation: 0, 2, 4, 6, 8, 10 (on separate lines)

In [9]:
for num in range(0, 11, 2):
    print(num)

0
2
4
6
8
10

2. The following code prints the numbers from 1 to 10. Modify it so that it instead prints the numbers from 10 to 1 in descending order, followed by 'Launch!'.

```python
for i in range(1, 11):
    print(i)
```

In [12]:
for i in range(10, 0, -1):
    print(i)

print('Launch!')

10
9
8
7
6
5
4
3
2
1
Launch!

3. Write a loop that prints the value of the greeting variable three times.

Note we use a `_` for a variable we must have a placeholder for but we don't use.

In [14]:
greeting = 'Aloha!'

for _ in range(1, 4):
    print(greeting)

Aloha!
Aloha!
Aloha!

4. Write a for loop that iterates over the integers from 1 to 100 and prints the result of multiplying each integer by 2.

In [15]:
for i in range(1, 101):
    print(i * 2)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200

5. Using the code below as a starting point, write a while loop that prints the elements of lst at each index and terminates after printing the last element of the list.

If lst is empty, the while loop won't be entered at all (len == 0)

In [19]:
lst = [1, 3, 7, 15]
index = 0

while index < len(lst):
    print(lst[index])
    index += 1

1
3
7
15

6. Your friends just showed up! Given the following list of names, use a for loop to greet each friend individually.

In [22]:
friends = ['Sarah', 'John', 'Hannah', 'Dave']

for friend in friends:
    print(f'Hello, {friend}!')

Hello, Sarah!
Hello, John!
Hello, Hannah!
Hello, Dave!

7. Write a for loop that iterates over the elements of the list cities and prints the length of each string. If the element is None, use the continue statement to skip forward to the next iteration without printing anything.

In [25]:
cities = ['Istanbul', 'Los Angeles', 'Tokyo', None,
          'Vienna', None, 'London', 'Beijing', None]

for city in cities:
    if city is None:
        continue
    print(city)

Istanbul
Los Angeles
Tokyo
Vienna
London
Beijing

In [ ]:
8. The following code keeps looping forever. (You can hit Ctrl-C to stop it.) Why does the loop keep running? Modify it so that it stops after the first iteration.

In [26]:
while True:
    print("and on")
    break

and on

9. Loop over the elements of the fish_list list below, logging each one. Terminate the loop immediately after printing the string 'Nemo'.

In [28]:
fish_list = ['Dory', 'Marlin', 'Gill', 'Nemo', 'Bruce']

for fish in fish_list:
    print(fish)
    if fish == 'Nemo':
        break

Dory
Marlin
Gill
Nemo

10. Modify the following code so the loop continues iterating until the user inputs 'yes'.

In [29]:
while True:
    print('Should I stop looping?')
    answer = input()
    if answer == 'yes':
        break

Should I stop looping?

 no

Should I stop looping?

 no

Should I stop looping?

 yes

# Conditionals

1. Without looking at your notes or the official documentation, try to recall all values that count as falsy in Python.

0, None, '', empty collections ([], {}, (), set()), False, range(0)

2. The code provided below randomly initializes random_number to either 0 or 1 each time it is executed.

Write an if statement that prints Yes! if random_number is 1, and No. if random_number is 0.

In [34]:
import random
random_number = random.randint(0, 1)

if random_number == 1:
    print('Yes!')
else:
    print('No.')

No.

3. Rewrite your code from the previous exercise to use a ternary expression.

In [36]:
import random
random_number = random.randint(0, 1)

print('Yes!' if random_number == 1 else 'No.')

No.

4. Initialize a variable weather with a string value being 'sunny', 'rainy', or whatever weather condition you choose. Then, write an if statement that prints:

It's a beautiful day! if weather's value is 'sunny'
Grab your umbrella. if weather's value is 'rainy'
Let's stay inside. if weather's value is anything else
Test your code with different values for weather.

In [51]:
import random

weather = ['sunny', 'rainy', 'windy', 'snowy']
current_weather = random.choice(weather)

if current_weather == 'sunny':
    print('It\'s a beautiful day!')
elif current_weather == 'rainy':
    print('Grab your umbrella.')
else:
    print('Let\'s stay inside.')

Grab your umbrella.

In [ ]:
5. Examine the code shown below. Without running it, determine what it will print. If you're not sure, refer to our Python book.

Will print 'neigh'

In [52]:
animal = 'horse'

match animal:
    case 'duck':
        print('quack')
    case 'squirrel':
        print('nook nook')
    case 'horse':
        print('neigh')
    case 'bird':
        print('tweet tweet')
    case _:
        print('*cricket*')

neigh

6. Take your code from the previous Check the Weather exercise and rewrite it as a match-case statement. Feel free to add more cases besides 'sunny' and 'rainy'.

In [54]:
import random

weather = ['sunny', 'rainy', 'windy', 'snowy']
current_weather = random.choice(weather)

match current_weather:
    case 'sunny':
        print('It\'s a beautiful day!')
    case 'rainy':
        print('Grab your umbrella')
    case _:
        print('Let\'s stay inside.')

Let's stay inside.

7. Predict the output of the following code:

Will print `Yes!`-- with `or`, the condition is True if either value is Truthy

In [55]:
if False or True:
    print('Yes!')
else:
    print('No...')

Yes!

8. Predict the output of the following code:

Will print 'No...'; with `and`, both values must be Truthy for the condition to be True

In [56]:
if True and False:
    print('Yes!')
else:
    print('No...')

No...

9. Without running the following code, determine what will be printed.

'$3.99'

In [57]:
sale = True
admission_price = 5.25 if not sale else 3.99

print(f"${admission_price}")

$3.99

10. Determine what the following code snippet prints. First solve it in your head or on paper, then run it in your Python environment to check the result.

Will print `True`. 
is_moving = True and (False or True) => True and True => True

Bonus question: Do we need the parentheses in the boolean expression or could we have written the following?:

The parentheses are needed here. `and` has higher precedence than `or`, and the below statement would be:
is_moving = True and False or True => False or True => True

The result is still `True`, but the order is different with the ()

```python
is_moving = braking_force < acceleration and speed > 0 or acceleration > 0
```

In [58]:
speed = 0
acceleration = 24
braking_force = 19
is_moving = braking_force < acceleration and (speed > 0 or acceleration > 0)
print(is_moving)

True

# Functions

1. Examine the function invocation below. Write the function multiply, such that it accepts two arguments and returns the product of its arguments. You may assume that the function arguments will always be numbers.

In [62]:
def multiply(val1, val2):
    return val1 * val2

multiply(12, 4)      # 48

48

2. Write a function that prints Bruce Eckel's quote 'Python is executable pseudocode.'. What is the return value of the function?

There is no explicit return statement, so the function's return value is `None`

In [64]:
def bruce_eckel_quote():
    print('Python is executable pseudocode.')
    
bruce_eckel_quote()

Python is executable pseudocode.

3. Let's generalize the function from the previous exercise. Implement a function named cite that takes two string arguments: the author of the quote and what they said. It then prints the quote, as shown below.

In [65]:
def cite(author, quote):
    print(f'{author} said "{quote}"')

cite('Bruce Eckel', 'Python is executable pseudocode.')
# Bruce Eckel said: "Python is executable pseudocode."

Bruce Eckel said "Python is executable pseudocode."

4. Write a function that accepts a single argument, a number, and returns the result of multiplying its argument by an exponent of 2 (also known as squaring the number or raising the number to the power of 2).

In [66]:
def squared_number(number):
    return number**2
    
squared_number(3)   # 9

9

5. Without running the following code, determine what it will print:

Nothing will be printed; the function is not invoked!

In [69]:
def multiples_of_three():
    divisor = 1

    for dividend in range(3, 31, 3):
        print(f'{dividend} / {divisor} = 3')
        divisor += 1

multiples_of_three

6. Write a function that compares the length of two strings. It should return -1 if the first string is shorter, 1 if the second string is shorter, and 0 if they're of equal length. For example:

In [81]:
def compare_by_length(word1, word2):
    comparison = len(word1) - len(word2)

    # return 0 if comparison == 0 else int(comparison / abs(comparison))
    return 0 if comparison == 0 else comparison // abs(comparison)

compare_by_length('patience', 'perseverance') # -1
compare_by_length('strength', 'dignity')      #  1
compare_by_length('humor', 'grace')           #  0

-1

7. Use Python's string methods on the string 'Captain Ruby' to create a string with the value 'Captain Python'.

In [82]:
original_string = 'Captain Ruby'
new_string = original_string.replace('Ruby', 'Python')
print(new_string)

Captain Python

8. Use Python's control structures to create a function that takes an ISO 639-1 language code and returns a greeting in that language. You can take the examples below or add whatever languages you like.

In [85]:
def greet(language):
    match language:
        case 'en':
            return 'Hi!'
        case 'fr':
            return 'Salut!'
        case 'pt':
            return 'Olá!'
        case 'de':
            return 'Hallo!'
        case 'sv':
            return 'Hej!'
        case 'af':
            return 'Haai!'

print(greet('en'))         # Hi!
print(greet('fr'))         # Salut!
print(greet('pt'))         # Olá!
print(greet('de'))         # Hallo!
print(greet('sv'))         # Hej!
print(greet('af'))         # Haai!

Hi!
Salut!
Olá!
Hallo!
Hej!
Haai!

9. Write a function that extracts the language code from a locale. A locale is a combination of a language code, a region, and usually also a character set, e.g en_US.UTF-8.

In [91]:
def extract_language(locale):
    return locale.split('_')[0]

print(extract_language('en_US.UTF-8'))      # en
print(extract_language('en_GB.UTF-8'))      # en
print(extract_language('ko_KR.UTF-16'))     # ko

en
en
ko

10. Similar to the previous exercise, write a function that extracts the region code from a locale. For example:

In [92]:
def extract_region(locale):
    return locale.split('.')[0].split('_')[1]

print(extract_region('en_US.UTF-8'))    # US
print(extract_region('en_GB.UTF-8'))    # GB
print(extract_region('ko_KR.UTF-16'))   # KR

US
GB
KR

11. Building on your solutions from the previous exercises, write a function local_greet that takes a locale as input, and returns a greeting. The locale lets us greet people from different countries appropriately, even when they share a common language. Distinguish greetings for English speaking countries like the US, UK, Canada, or Australia in your implementation, and feel free to fall back on the language-specific greetings in all other cases. When implementing local_greet, make sure you re-use your extract_language, extract_region, and greet functions from the previous exercises.

In [94]:
def greet(language):
    match language:
        case 'en':
            return 'Hi!'
        case 'fr':
            return 'Salut!'
        case 'pt':
            return 'Olá!'
        case 'de':
            return 'Hallo!'
        case 'sv':
            return 'Hej!'
        case 'af':
            return 'Haai!'

def extract_language(locale):
    return locale.split('_')[0]

def extract_region(locale):
    return locale.split('.')[0].split('_')[1]

def local_greet(locale):
    language = extract_language(locale)

    match(language):
        case 'en':
            region = extract_region(locale)
            if region == 'US':
                return 'Hey!'
            elif region == 'GB':
                return 'Hello!'
            elif region == 'AU':
                return 'Howdy!'
        case _:
            return greet(language)

print(local_greet('en_US.UTF-8'))       # Hey!
print(local_greet('en_GB.UTF-8'))       # Hello!
print(local_greet('en_AU.UTF-8'))       # Howdy!

print(local_greet('fr_FR.UTF-8'))       # Salut!
print(local_greet('fr_CA.UTF-8'))       # Salut!
print(local_greet('fr_MA.UTF-8'))       # Salut!

Hey!
Hello!
Howdy!
Salut!
Salut!
Salut!

# Variable scope

1. What will the following code do and why? Don't run it until you have tried to answer.

will print '20'. Variables initialized inside a block are accessible outside the block IF that block executes; if the block does not execute => `NameError`

In [95]:
if True:
    my_value = 20

print(my_value)

20

2. What will the following code do and why?

This will raise an error. When we assign a variable inside a function, Python assumes it is a local variable; here, since x is unitialized in the function, an error results. To prevent an error, we would need to state `global x` before attempting the assignment.

In [98]:
x = 10

def my_function():
    # global x
    x = x + 5
    print(x)

my_function()

UnboundLocalError: cannot access local variable 'x' where it is not associated with a value

3. What will the following code do and why?

Will print `1`; the variable is initialized in the same scope it is invoked.

In [99]:
def my_function():
    a = 1

    if True:
        print(a)

my_function()

1

4. What will the following code do and why?

It will print `1`. Python checks local scope, and if not found, will check enclosing scope.

In [100]:
a = 1

def my_function():
    print(a)

my_function()

1

5. What will the following code do and why?

Error. Because there is an assignment within the function, `a` is assumed to be local, but it has no value yet.

In [101]:
a = 1

def my_function():
    print(a)
    a = 2

my_function()

UnboundLocalError: cannot access local variable 'a' where it is not associated with a value

6. What will the following code do and why?

Will print `1`. Because there is an assignment in `my_function()`, the variable `a` in that function is assumed to be local. The assignment does not affect the global variable `a`

In [102]:
a = 1

def my_function():
    a = 2

my_function()
print(a)

1

7. What will the following code do and why?

Will print `2`. in `my_function()` we assert we are using the global `a`, so that global value is reassigned.

In [103]:
a = 1

def my_function():
    global a
    a = 2

my_function()
print(a)

2

8. What will the following code do and why?

Error. We are invoking the variable before it is initialized. (`NameError`)

In [105]:
print(a_greeting)

a_greeting = 'Hello world!'

NameError: name 'a_greeting' is not defined

9. What will the following code do and why?

This will print `7`. variable `b` is local to the function, and changing its value (`+=` is reassignment) does not affect the immutable `a` variable.

In [106]:
a = 7

def my_function(b):
    b += 10

my_function(a)
print(a)

7

10. What will the following code do and why?

Will print `[10, 2, 3]`. There is no local `b` variable in the function, so the global value is used and is mutated.

In [107]:
b = [1, 2, 3]

def my_function():
    b[0] = 10

my_function()
print(b)

[10, 2, 3]

# Strings

1. Determine the length of the string "These aren't the droids you're looking for.".

In [108]:
len("These aren't the droids you're looking for.")

43

2. Convert the string 'confetti floating everywhere' to all upper case.

In [109]:
my_string = 'confetti floating everywhere'
print(my_string.upper())

CONFETTI FLOATING EVERYWHERE

3. Using the following code, compare the value of name with the string 'RoGeR' while ignoring the case of both strings. Print true if the values are the same; print false if they aren't. Next, perform a case-insensitive comparison between the value of name and the string 'DAVE'.

Note: use `str.casefold()` instead of `str.lower()` to account for language peculiarities.

In [113]:
name = 'Roger'
comparison = 'RoGeR'
other_name = 'DAVE'

# print(True if name.lower() == comparison.lower() else False)
# print(True if name.lower() == other_name.lower() else False)

print(True if name.casefold() == comparison.casefold() else False)
print(True if name.casefold() == other_name.casefold() else False)

True
False

4. How can you assign the following rhyme to a single variable while preserving the line break?
```
A pirate I was meant to be!
Trim the sails and roam the sea!
```

In [119]:
multiline_string = (
    "A pirate I was meant to be!\n"
    "Trim the sails and roam the sea!"
)

multiline_string = '''A pirate I was meant to be!
Trim the sails and roam the sea!'''

print(multiline_string)

A pirate I was meant to be!
Trim the sails and roam the sea!

5. Write code that checks whether the string char_sequence contains the character x.

In [120]:
char_sequence = 'TXkgaG92ZXJjcmFmdCBpcyBmdWxsIG9mIGVlbHMu'

print('x' in char_sequence)

True

6. Write a function that checks whether a string is empty or not.

In [124]:
def is_empty(string):
    return string == ''

print(is_empty('mars'))  # False
print(is_empty('  '))    # False
print(is_empty(''))      # True

False
False
True

7. Write an is_empty_or_blank function to determine whether a string is either empty or consists entirely of spaces.

In [125]:
def is_empty_or_blank(string):
    return string.strip(' \n\t\r') == ''

print(is_empty_or_blank('mars'))  # False
print(is_empty_or_blank('  '))    # True
print(is_empty_or_blank(''))      # True

False
True
True

8. Write code that capitalizes the words in the string 'launch school tech & talk', so that you get the string 'Launch School Tech & Talk'.

In [130]:
import string
my_string = 'launch school tech & talk'
print(my_string.title())
print(string.capwords(my_string))

Launch School Tech & Talk
Launch School Tech & Talk

9. Write a function that checks whether a string starts with a specific prefix.

In [131]:
def starts_with(string, substring):
    return string.startswith(substring)
    
print(starts_with("launch", "la"))   # True
print(starts_with("school", "sah"))  # False
print(starts_with("school", "sch"))  # True

True
False
True

10. Write a function that counts the number of occurrences of a substring in a string.

In [132]:
def count_substrings(string, substring):
    return string.count(substring)

print(count_substrings("lemon lemon lemon", "lemon")) # 3
print(count_substrings("laLAlaLA", "la")) # 2
print(count_substrings("launch", "uno")) # 0

3
2
0

# Lists

1. Write a function that returns the first element of a list provided as an argument.

In [138]:
def first(list):
    return list[0] if list else None

print(first(['Earth', 'Moon', 'Mars']))  # Earth
print(first([]))

Earth
None

2. Write a function that returns the last element of a list provided as an argument.

In [139]:
def last(list):
    return list[-1] if list else None

print(last(['Earth', 'Moon', 'Mars']))  # Mars
print(last([]))

Mars
None

3. Write some code to remove 'fossil' from the list, then add 'geothermal' to the end of the list.

In [144]:
energy = ['fossil', 'solar', 'wind', 'tidal', 'fusion']

if 'fossil' in energy:
    energy.remove('fossil')
    
energy.append('geothermal')

print(energy)

['solar', 'wind', 'tidal', 'fusion', 'geothermal']

4. Split the string alphabet into a list of characters.

In [146]:
alphabet = 'abcdefghijklmnopqrstuvwxyz'

print(list(alphabet))

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

5. Count the number of elements in scores that are 100 or above.

In [149]:
scores = [96, 47, 113, 89, 100, 102]
count = 0

for score in scores:
    if score >= 100:
        count += 1

print(count)

high_scores = [score for score in scores if score >= 100]
print(len(high_scores))

3
3

6. You've been given a list of vocabulary words grouped into sub-lists, by meaning. This is a two-dimensional list or a nested list. Write some code that iterates through and prints all the words, one per line.

In [155]:
vocabulary = [
    ['happy', 'cheerful', 'merry', 'glad'],
    ['tired', 'sleepy', 'fatigued', 'drained'],
    ['excited', 'eager', 'enthused', 'animated'],
]

for array in vocabulary:
    for word in array:
        print(word)

words = [word for array in vocabulary for word in array]

for word in words:
    print(word)

happy
cheerful
merry
glad
tired
sleepy
fatigued
drained
excited
eager
enthused
animated
happy
cheerful
merry
glad
tired
sleepy
fatigued
drained
excited
eager
enthused
animated

7. Predict the output of the code shown below. When you run the code, do you see what you expected? Why or why not?

I expect `True`. Testing for array equality checks:
- equal length
- element by element

In [156]:
list1 = [2, 6, 4]
list2 = [2, 6, 4]

print(list1 == list2)

True

8. How can you check if a variable holds a value that is a list? Given two variables, verify whether the values they hold are lists.

In [159]:
some_value1 = [0, 1, 0, 0, 1]
some_value2 = 'I leave you my Kingdom, take good care of it.'

print(type(some_value1) is list)
print(type(some_value2) is list)

print(isinstance(some_value1, list))
print(isinstance(some_value2, list))

True
False
True
False

9. Write a function that, without using the built-in in operator, checks whether a specific destination is included within destinations. For example: When checking whether 'Barcelona' is contained in destinations, the expected output is True, whereas the expected output for 'Nashville' is False.

In [162]:
def contains(element, collection):
    # return element in collection
    for item in collection:
        if item == element:
            return True
            
    return False

destinations = ['Prague', 'London', 'Sydney', 'Belfast',
                'Rome', 'Aruba', 'Paris', 'Bora Bora',
                'Barcelona', 'Rio de Janeiro', 'Marrakesh',
                'New York City']

print(contains('Barcelona', destinations))  # True
print(contains('Nashville', destinations))  # False

True
False

10. We generated parts of a passcode and now want to combine them into a string. Write some code that returns a string, with each portion of the passcode separated by a hyphen (-).

In [163]:
passcode = ['11', 'jZ5', 'hQ3f*', '8!7g3', 'p3Fs']

print('-'.join(passcode))
# Expected return value: '11-jZ5-hQ3f*-8!7g3-p3Fs'

11-jZ5-hQ3f*-8!7g3-p3Fs

11. We have a grocery list. As we check off items on that list, we want to remove them from the list.

Write code that removes the items from grocery_list, one by one, until it is empty. If you print the elements you remove, the expected behavior would look as follows.

In [164]:
grocery_list = ['paprika', 'tofu', 'garlic', 'quinoa',
                'carrots', 'broccoli', 'hummus']

while grocery_list:
    print(grocery_list.pop(0))

print(grocery_list)

paprika
tofu
garlic
quinoa
carrots
broccoli
hummus
[]

# Dictionaries

1. Create a dictionary that contains the following data, and assign it to a variable named car.

type	color	mileage
sedan	blue	80000

In [165]:
car = {
    'type': 'sedan',
    'color': 'blue',
    'mileage': 80000
}

print(car)

{'type': 'sedan', 'color': 'blue', 'mileage': 80000}

2. Add some code below the following code to define a year key with a value of 2003. Don't update the dictionary literal; instead, add some code after lines 1-5:

In [167]:
car = {
    'type':    'sedan',
    'color':   'blue',
    'mileage': 80_000,
}

car['year'] = 2003
print(car)

{'type': 'sedan', 'color': 'blue', 'mileage': 80000, 'year': 2003}

3. Using the following code, delete the 'mileage' key and its associated value from car.

In [168]:
car = {
    'type':    'sedan',
    'color':   'blue',
    'mileage': 80_000,
    'year':    2003,
}

del car['mileage']
print(car)

{'type': 'sedan', 'color': 'blue', 'year': 2003}

4. Using the following code, select and print the value 'blue' from the car object:

In [169]:
car = {
    'type':  'sedan',
    'color': 'blue',
    'year':  2003,
}

print(car['color'])

blue

5. Calculate and print the number of key/value pairs in the following dictionary:

In [170]:
car = {
    'type':  'sedan',
    'color': 'blue',
    'year':  2003,
}

print(len(car))

3

6. Check whether the keys 'name' and 'grade' exist in the following dictionary:

In [171]:
student = {
    'id': 123,
    'grade': 'B',
}

print('name' in student)
print('grade' in student)

False
True

7. Create a nested dictionary that contains the following data.

Car

type	color	year
sedan	blue	2003
Truck

type	color	year
pickup	red	1998

In [173]:
vehicles = {
    'car': {
        'type': 'sedan',
        'color': 'blue',
        'year': 2003
    },
    'truck': {
        'type': 'pickup',
        'color': 'red',
        'year': 1998
    }
}

print(vehicles)

{'car': {'type': 'sedan', 'color': 'blue', 'year': 2003}, 'truck': {'type': 'pickup', 'color': 'red', 'year': 1998}}

8. Rewrite car as a nested list containing the same key/value pairs.

In [ ]:
car = {
    'type':  'sedan',
    'color': 'blue',
    'year':  2003,
}

9. Use a for loop to iterate over the numbers dictionary and return a list containing each number divided by 2. Assign the returned list to a variable named half_numbers and print its value using print.

In [179]:
numbers = {
    'high':   100,
    'medium': 50,
    'low':    10,
}

half_numbers = []

for value in numbers.values():
    half_numbers.append(value // 2)
    
# for key, value in numbers.items():
#    half_numbers.append(value // 2)

print(half_numbers)

[50, 25, 5]

10. Use a for loop to iterate over the numbers dictionary and print each element's key/value pair.

In [180]:
numbers = {
    'high':   100,
    'medium': 50,
    'low':    10,
}

for key, value in numbers.items():
    print(f'A {key} number is {value}.')

A high number is 100.
A medium number is 50.
A low number is 10.

# Debugging

1. You come across the following code. What errors does it raise for the given examples and what exactly do the error messages mean?

`TypeError`: first function invocation has too many arguments; the function is expecting a single iterable as an argument. Second function invocation: `int` is not iterable

In [182]:
def find_first_nonzero_among(numbers):
    for n in numbers:
        if n != 0:
            return n

#find_first_nonzero_among(0, 0, 1, 0, 2, 0)
find_first_nonzero_among(1)

TypeError: 'int' object is not iterable

2. Our predict_weather function should output a message indicating whether a sunny or cloudy day lies ahead. However, the output is the same every time the function is invoked. Why? Fix the code so that it behaves as expected.

`if sunshine` returns True if `sunshine` is not an empty string (and it won't be). We can fix this by changing the random values from string to boolean literals.

In [190]:
import random

def predict_weather():
    sunshine = random.choice([True, False])

    if sunshine:
        print("Today's weather will be sunny!")
    else:
        print("Today's weather will be cloudy!")

predict_weather()

Today's weather will be cloudy!

3. When the user inputs 10, we expect the program to print The result is 50!, but that's not the output we see. Why not?

When we read input from the terminal, it is read in as a string; at no point are we converting the string to an `int` in order to perform multiplication; instead it performs string repetition.  We fix this by converting the input to `int`.

In [192]:
def multiply_by_five(n):
    return n * 5

print("Hello! Which number would you like to multiply by 5?")
number = int(input())

print(f"The result is {multiply_by_five(number)}!")

Hello! Which number would you like to multiply by 5?

 10

The result is 50!

4. Magdalena has just adopted a new pet! She wants to add her new dog, Bowser, to the pets dictionary. After doing so, she realizes that her dogs Sparky and Fido have been mistakenly removed. Help Magdalena fix her code so that all three of her dogs' names will be associated with the key 'dog' in the pets dictionary.

the key 'dog' references a list, and Magdalena is replacing that list with a string value. To fix this, we should append the new dog name to the list.

In [193]:
pets = { 'cat': 'pepe', 'dog': ['sparky', 'fido'], 'fish': 'oscar' }

# pets['dog'] = 'bowser'
pets['dog'].append('bowser')
print(pets)  # Output: {'cat': 'pepe', 'dog': 'bowser', 'fish': 'oscar'}

{'cat': 'pepe', 'dog': ['sparky', 'fido', 'bowser'], 'fish': 'oscar'}

5. You want to have a small script delivering motivational quotes, but with the following code you run into a very common error message: TypeError: can only concatenate str (not "NoneType") to str. What is the problem and how can you fix it?

The problem is that there is no explicit return statement in the function, in which case a function will return `None`. We fix this by using return statements.

In [195]:
def get_quote(person):
    if person == 'Yoda':
        return 'Do. Or do not. There is no try.'
    if person == 'Confucius':
        return 'I hear and I forget. I see and I remember. I do and I understand.'
    if person == 'Einstein':
        return 'Do not worry about your difficulties in Mathematics. I can assure you mine are still greater.'

print('Confucius says:')
print('"' + get_quote('Confucius') + '"')

Confucius says:
"I hear and I forget. I see and I remember. I do and I understand."

6. You want to add the numbers from 1 to 5 to a list, but the code below is not producing the expected result. How can you fix it?

The range is not defined appropriately. `range(5)` will return values 0 through 4

In [196]:
numbers = []

for i in range(1, 6):
    numbers.append(i)

print(numbers)

[1, 2, 3, 4, 5]

7. You are trying to access a value in a dictionary, but the code is giving you an error. Can you change line 3 so that it prints "Unknown" instead of raising an error?

We can use the method `get()` along with a default value; this will seek the value for a key and then return the default value if the key is not in the dictionary.

In [197]:
info = {'name': 'Srdjan', 'age': 38}

print(info.get('city', 'Unknown'))

Unknown

8. We wanted to create a matrix 3x3 so we could use it to build a Tic-Tac-Toe game. However, we encountered an issue, as whenever we change a value in one nested list, all nested lists are affected. Can you fix the code?

The problem here is that we are appending a reference to the same array three times. When we append, we should append a copy of the original array.

In [198]:
sub_list = ["-", "-", "-"]
matrix = []

for _ in range(3):
    matrix.append(sub_list[::])
    # or matrix.append(sub_list.copy())

matrix[0][0] = "X"
print(matrix) # [['X', '-', '-'], ['X', '-', '-'], ['X', '-', '-']]

[['X', '-', '-'], ['-', '-', '-'], ['-', '-', '-']]

9. Your colleague has implemented a custom function to find the maximum value in a list. However, the function sometimes works correctly, but other times it produces incorrect results. Can you help your colleague fix the bug?

We are initializing `max_number` to 0, which does not account for a collection of all negative numbers. More appropriate would be to set this value to negative infinity, which we can do by importing the math module and using `-math.inf`. 

Note: we can use `float('-inf')` without importing the math module.

In [200]:
import math

def find_maximum(numbers):
    if not numbers:
        return None
    max_number = -math.inf
    for number in numbers:
        if number > max_number:
            max_number = number
    return max_number

print(find_maximum([45, 3, 10, 98, 22]))  # Expected 98
print(find_maximum([-1, 0, 5, 3]))         # Expected 5
print(find_maximum([-10, -3, -20, -2]))   # Expected -2

98
5
-2

10. You've been asked to implement a function called digit_product that takes a string of digits as an argument and returns the product of all the digits in the string.

When testing the function, you find that it returns 0, which is not what you expect. Can you identify the issue and correct the code?

The issue is that we are initializing our product to 0, so anything multiplied by it will result in 0. We should initialize our product to 1.

In [202]:
def digit_product(str_num):
    digits = [int(n) for n in str_num]
    product = 1

    for digit in digits:
        product *= digit

    return product

result = digit_product('12345')
print(result)  # expected: 120, actual: 0

120